<?xml version="1.0" encoding="utf-8" ?>
<config>
    <!-- interval between routine checks for urls, defaults 5 min -->
    <processInterval>15000</processInterval>
    <!-- Time (minutes) an url need to be mark as failed before sending an email, defaults 15 minutes  -->
    <urlTimeLimit>2</urlTimeLimit>
	  <!-- time out for HTTP requests, defaults 6 sec -->
    <pingTimeout>800</pingTimeout>
    <!-- interval between ping retry -->
    <pingRetryInterval>400</pingRetryInterval>
    <!-- Number of retries before the system mark it failed -->
    <pingMaxRetry>2</pingMaxRetry>
    <!-- The max hours with no email send-->
    <maxHoursNoEmail>1</maxHoursNoEmail>
    <!-- list of receipients, optionally separated by , -->
    <emails>pascal@deuxhuithuit.com</emails>
    <!-- your smtp server -->
    <mailServer>
        <addr>smtp.isp.novavision.ca</addr>
        <port>25</port>
    </mailServer>
    <!-- Url to check -->
    <urls>
        <url>http://www.nitriques.com/</url>
        <url>http://www.google.com/</url>
      <url>HTTP://coop.w.288dev.com/</url>
    </urls>
</config>