<?xml version="1.0" encoding="utf-8" ?>
<config>
	<!-- time out for HTTP requests, defaults 6 sec -->
    <timeout>6000</timeout>
    <!-- interval between routine checks for urls, defaults 10 min -->
    <interval>60000</interval>
    <!-- Number of retries before the system sends an error email -->
    <maxRetry>3</maxRetry>
    <!-- Maximum number of error email send by url -->
    <maxEmailSend>3</maxEmailSend>
    <!-- list of receipients, optionally separated by , -->
    <emails>test@nitriques.com</emails>
    <!-- your smtp server -->
    <mailServer>
        <addr>smtp.ca</addr>
        <port>25</port>
    </mailServer>
    <!-- Url to check -->
    <urls>
        <url>http://www.nitriques.com/</url>
        <url>http://www.google.com/</url>
        
    </urls>
</config>